@import 'src/index';

.layout {
  min-height: 100vh;
}

.layout, .layout-background {
  background-color: transparent;
}

.quiz-not-available {
  margin-top: 32px;
  font-size: 18px;
  color: #d9a520;
}
