<p class="toolbar">
  <mat-toolbar color="accent">
    <button mat-button aria-label="Quiz App" color="primary" class="toolbar-title" (click)="goTo('/')">
      Quiz App
    </button>
    <span class="toolbar-spacer"></span>
    <button mat-button aria-label="Quizzes" (click)="goTo('/quizzes')">
      Kvízek
    </button>
    <button mat-button aria-label="Results" (click)="goTo('/results')">
      Eredményeim
    </button>
    <button mat-button aria-label="Scores" (click)="goTo('/scores')">
      Pontlista
    </button>
    <button mat-icon-button class="example-icon" aria-label="Login">
      <mat-icon>login</mat-icon>
    </button>
  </mat-toolbar>
</p>

<router-outlet></router-outlet>
