@import 'src/index';

.quiz-card {
  text-align: center;
  position: relative;
  color: #fffc;
  border: 1px solid rgba(217, 165, 32, 0.3);
  border-radius: 0.5rem;
  background: linear-gradient(90deg, rgba(0,38,92,0.6) 0%, rgba(0,21,41,0.6) 100%);
  max-width: 18rem;
  min-width: 15rem;
  height: 12rem;
}

.quiz-card:hover {
  color: #fff;
  border: 1px solid rgba(217, 165, 32, 0.7);
  background: linear-gradient(90deg, rgba(0,21,41,0.8) 0%, rgba(0,38,92,0.8) 100%);
}

.quiz-card-header {
  border-bottom: 1px solid rgba(217, 165, 32, 0.3);
  background: linear-gradient(90deg, #d9a52059 10%, #1677ff2b 100%);
  font-size: 1rem;
  padding: 1rem;
  color: white;
}

.quiz-card-body {
  text-align: right;
  padding: 1rem;
}

.quiz-card-action {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
  padding-bottom: 1.5rem;
  text-align: center;
}
