@import 'src/index';

.quiz-card-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-around;
  gap: 20px;
  padding: 10px;
}

@media screen and (max-width: 1660px) {
  .quiz-card-container {
    grid-template-columns: auto auto auto auto;
  }
}

@media screen and (max-width: 1320px) {
  .quiz-card-container {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 1080px) {
  .quiz-card-container {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 800px) {
  .quiz-card-container {
    grid-template-columns: auto;
  }
}
